.button {
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 40px 50px;

cursor: pointer;
}
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  font-size: 20px;
  margin-top: 10px;
}

li{
  margin:0 0 10px 0;
}

.boxS h3{
  background: black;
}

.box{
  width: 100%;
  height: 600px;
  padding: 40px 60px;
  color: white;
  font-family: Helvetica;
  text-align: center;
}

.boxT{
  margin: auto;
  width: auto;
  height: auto;
  padding: 40px 60px;
  background: lightblue;
  text-align: center;

}

.boxS{
  margin: auto;
  width: auto;
  height: auto;
  padding: 30px 60px;

}

.boxC{
  width: auto;
  height: auto;
  padding: 30px 60px;
  background:#C06C84;

}

.boxCs{
  width: auto;
  height: auto;
  padding: 30px 60px;
  margin: 20px auto;
  background:#FFAAA6;

}



.boxL{
  width: 100%;
  height: 600px;
  padding: 40px 60px;
  color: white;
  font-family: Helvetica;
  text-align: left;
}

.boxAbout{
  width: 35%;
  height: 600px;
  padding: 40px 60px;
  margin: 25px 10px;
  color: black;
  font-family: Helvetica;
  text-align: left;
  background:#DCEDC2;

}

.boxR{
  width: 100%;
  height: 600px;
  padding: 40px 60px;
  color: white;
  font-family: Helvetica;
  text-align: right;
}

.section-1{
        height: 100vh;
        background-image: url(OnCouch.jpg);
        background-attachment: fixed;
        background-size: cover;
}

.section-2{
  background: #8e24aa;
}

.section-3{
  background-image: url(robotics.jpg);
      background-attachment: fixed;
      background-size: cover;
}

.section-4{
  height: 850px;
  background: #009600;
}

.section-5{
  background-image: url(GoGauchos.jpg);
      background-attachment: fixed;
      background-size: cover;
}

.section-6{
  height: auto;
  background: #8e24aa;
}

.box p{
  font-size: 20px;
  margin-top: 10px;
}

.boxT h1{
  font-size: 50px;
  text-shadow:  3px 3px 5px #011;
  font-family: Helvetica;
}
